.item-list {
  width: 100%;
  position: relative;
}

.list-container {
  margin-top: 8px;
}

.list-item {
  display: flex;
  color: var(--white);
  background-color: var(--darkgrey);
  padding: 8px 16px;
  align-items: center;
  border-radius: 4px;
}

.header-text {
  font-size: 28px;
  line-height: 36px;
}

.value-input, input {
  width: 100%;
}

.list-item {
  margin-top: 8px;
}

.add-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.add-btn-content {
  display: flex;
}

.add-btn-content > *:not(:last-child) {
  margin-right: 8px;
  flex-wrap: nowrap;
}

.rotate {
  transform: rotate(45deg);
}

.no-value {
  opacity: 0.6;
}

.switch {
  margin-right: 8px;
}
